.nav-option {
  gap: 1rem;
  cursor: pointer;
}

.nav-option:hover {
  color: var(--black);
}

.nav-option__title {
  line-height: normal;
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
  .nav-option__title {
    display: none;
  }

  .nav-option {
    margin: 0 auto;
    position: relative;
  }

  .nav-option:hover::before {
    content: attr(data-tooltip);
    background-color: red;
    padding: 0.5rem;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 9;
    font-size: initial;
  }
}
