.sidebar {
  width: 30rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  transition: transform 1s;
  background-color: var(--white);
}

.sidebar--hide {
  transform: translateX(-150%);
}

.sidebar .nav-option {
  padding: 1rem;
}

.sidebar > :is(.nav-option, .sidebar__logout-option, .user-option):hover {
  background-color: green;
}

.sidebar__header {
  height: 6rem;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 1rem;
}

.sidebar__logout-option {
  border-top: 1px solid;
  padding: 1rem;
}

.sidebar__create-button {
  margin: 0 auto;
  height: 5rem;
  border-radius: 99rem;
  align-items: center;
  justify-content: center;
}

.sidebar__create-button .icon {
  display: none;
}

.sidebar .user-option {
  margin: auto auto 1.5rem;
}

.sidebar__user-info--small-screen .avatar-info {
  align-items: flex-start;
  gap: 1rem;
  border-bottom: 1px solid;
  padding: 1rem;
}

@media screen and (min-width: 500px) {
  .sidebar {
    position: relative;
    transform: translateX(0%);
    padding-top: 2rem;
    transition: none;
    gap: 1.5rem;
  }

  .sidebar * {
    width: 90%;
    border-radius: 99rem;
    margin-left: auto;
    margin-right: auto;
  }

  .sidebar .nav-option {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
  .sidebar {
    width: auto;
    align-items: center;
  }

  .sidebar .nav-option {
    width: 3rem;
    height: 3rem;
    padding: 0;
    display: grid;
    place-items: center;
  }

  .sidebar__create-button {
    width: 4rem;
    height: 4rem;
  }

  .sidebar .user-option:hover {
    background-color: inherit;
  }

  .sidebar__create-button .icon {
    display: block;
  }

  .sidebar__create-button :not(.icon),
  .sidebar .user-option .avatar-info__content,
  .sidebar .user-option .icon {
    display: none;
  }
}
