.tooltip {
  width: auto;
  height: auto;
  max-height: 85vh;
  position: absolute;
  transform: translate(0, 100%);
  z-index: 999;
  background-color: var(--global-backdrop);
  color: var(--global-color);
  border: 2px solid;
  padding: 0 0.5rem;
}
