.header {
  position: sticky;
  top: 0;
  max-width: 100%;
  border-bottom: 1px solid var(--gray);
  height: 6rem;
  z-index: 9;
  background-color: var(--global-backdrop);
}

.header > .flex-row {
  align-items: center;
  height: 100%;
  width: clamp(20rem, 95%, 120rem);
  margin: auto;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header__search {
  padding: 0 1rem;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  display: none;
}

.header__theme-button {
  margin-left: auto;
  border: none;
  background: none;
  color: var(--global-color);
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .header__menu--open {
    display: none;
  }

  .header__search {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .header__menu--open {
    display: none;
  }
}
