.header {
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid lightgray;
  height: 6rem;
  z-index: 9;
}

.header > .flex-row {
  align-items: center;
  height: 100%;
  width: clamp(20rem, 95%, 120rem);
  margin: auto;
}

.header__search {
  padding: 0 1rem;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  display: none;
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .header > .flex-row {
    max-width: 700px;
  }

  .header__menu--open {
    display: none;
  }

  .header__search {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .header__menu--open {
    display: none;
  }
}
