.post-editor {
  border: 2px solid;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 60rem;
  border-radius: 1rem;
}

.post-editor__form {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: inherit;
}

.post-editor__text-input {
  width: 100%;
  height: 8rem;
}

.post-editor__icon-buttons {
  flex: 1;
  display: flex;
  gap: 1.5rem;
}

.modal .post-editor {
  width: 90vw;
  background-color: var(--global-backdrop);
  color: var(--global-color);
}

.post-editor__post-button {
  color: var(--white);
  padding: 0 1rem;
  margin-left: 1rem;
}

.post-editor__images-input--hidden {
  display: none;
}

.post-editor__input-files {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post-editor__image {
  margin-left: auto;
}

.char-count {
  margin-left: auto;
  width: fit-content;
  line-height: 0;
}
