.image-modal {
  width: 80vw;
  height: auto;
  max-height: 80vh;
  overflow-y: scroll;
  object-fit: contain;
  border: 1px solid;
  padding: 10px;
  background-color: var(--black);
}

.close {
  color: var(--black);
}
