.user-option {
  height: 6rem;
  align-items: center;
  padding: 0 1rem;
  gap: 0.5rem;
  cursor: pointer;
}

.user-option > :first-child {
  flex: 1;
}

.user-option__modal {
  border-radius: 1rem;
  background-color: blue;
}

.user-option__modal > * {
  padding: 1rem;
  width: 25rem;
}

.user-option__modal > :first-child {
  border-bottom: 1px solid;
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
  .user-option .avatar-info__content,
  .user-option .icon {
    display: none;
  }
}
