.login,
.signup {
  width: 40rem;
  max-width: 90%;
  border: 2px solid;
  margin: 10rem auto auto;
  padding: 2rem;
  border-radius: 5px;
}

.login__form,
.signup__form {
  gap: 1rem;
}

.login__header,
.signup__header {
  margin-bottom: 3rem;
}

.login .button,
.signup .button {
  width: 80%;
  margin: 0.5rem auto;
  line-height: normal;
  padding: 0.5rem;
}

.login__row,
.signup__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.login__row > * {
  flex: 1 0;
  min-width: fit-content;
}
.signup__row > * {
  flex: 1 0 10rem;
}
