.modal__wrapper {
  position: absolute;
  width: auto;
  height: auto;
  transform: translate(1rem, -100%);
  z-index: 999;
}

.modal__backdrop {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
