html {
  font-size: 50%;
  --gray: rgb(136, 136, 136);
  --primary-color: rgb(57, 126, 247);
  --white: rgb(240, 240, 240);
  --black: rgb(5, 5, 5);
  --dark-gray: rgb(99, 96, 96);
  --translucent-gray: rgba(153, 150, 150, 0.574);
  --blue: rgb(23, 128, 240);
  --input-border: var(--global-color);
}

[data-theme="dark"] {
  --global-backdrop: rgb(8, 8, 8);
  --global-color: var(--white);
  --error__bg-color: rgb(245, 119, 119);
}

[data-theme="light"] {
  --global-backdrop: rgb(247, 249, 249);
  --global-color: var(--black);
}

.app {
  max-width: 100vw;
  height: 100vh;
  background-color: var(--global-backdrop);
  color: var(--global-color);
}

.app-body {
  width: clamp(20rem, 95%, 120rem);
  height: calc(100% - 6rem);
  justify-content: stretch;
  margin: auto;
  gap: 1rem;
  display: flex;
}

.app-body__widgets {
  display: none;
}

.app-main {
  flex: 1 1;
  max-width: 100%;
  padding-bottom: 5rem;
  overflow-y: scroll;
}

.logo {
  color: var(--primary-color);
  font-weight: bold;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 62.5%;
  }

  .app-body {
    max-width: 800px;
  }

  .app-body__widgets {
    border-left: 2px solid var(--gray);
  }

  .app-body .sidebar {
    border-right: 2px solid var(--gray);
  }
}

@media screen and (min-width: 900px) {
  .app-body__widgets {
    display: block;
    width: 35rem;
    padding-left: 1rem;
  }
  .app-body {
    max-width: none;
  }
}
