html {
  font-size: 50%;
  --gray: rgb(181, 177, 177);
}

.text-sm {
  font-size: 1rem;
}

.App {
  width: 100%;
  height: 100vh;
}

.app-body {
  width: clamp(20rem, 95%, 120rem);
  height: calc(100% - 6rem);
  justify-content: stretch;
  margin: auto;
  gap: 1rem;
  display: flex;
}

.app-body__widgets {
  width: 30rem;
  display: none;
}

.app-main {
  flex-grow: 1;
  border-left: 2px solid var(--gray);
  border-right: 2px solid var(--gray);
}

@media screen and (min-width: 500px) {
  html {
    font-size: 62.5%;
  }

  .app-body {
    max-width: 700px;
  }
}

@media screen and (min-width: 1000px) {
  .app-body__widgets {
    display: block;
  }
  .app-body {
    max-width: none;
  }
}
