.home {
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  gap: 1rem;
}

.home > * {
  width: 100%;
}

.home__posts-header {
  justify-content: space-between;
  margin-top: 2rem;
}

.create-post__floating-button {
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 99rem;
  background-color: var(--primary-color);
}

@media screen and (min-width: 500px) {
  .create-post__floating-button {
    display: none;
  }
}
